$border-radius-card: 16px;

.card-custom-user {
    display: flex;
    flex-direction: column;
    border-radius: $border-radius-card;
    transition: transform 0.3s ease-in-out;
    padding: 0;
    overflow: hidden;
    box-shadow: 0 2px 8px 0 rgba(35, 35, 35, 0.16);
    margin-bottom: 32px;
    margin-top: 32px;
    position: relative; //per impostare position absolute nei bottoni

    &:hover {
        transform: scale(1.05);

        .card-custom-user__detail-button {
            background-color: rgba(0, 6, 65, 0.8);
            color: white;
        }

        .card-custom-user__buttons {
            opacity: 1;

        }
    }

    
    &__info {     
        font-weight: bold;      
        padding: 16px;
        display: flex;
        flex-direction: column;
        gap: 24px;

    }

    &__title {          //Nome Cognome
        font-weight: bold;
        color: grey;
        font-size: 2rem;
    }

   
    &__buttons {
        display: flex;
        gap: 2px;
        position: absolute;
        top: 12px;
        right: 12px;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;


        button {


            &:hover {
                background-color: rgba(90, 90, 90, 0.6);

            }


        }
    }


}